body {
  background-color: bisque;
  text-align: center;
  padding: 0px;
}

h1 {
  border: 4px solid black;
  background-color: black;
  margin: 0px;
  margin-left: 100px;
  margin-right: 100px;
  color: white;
}

p {
padding: 30px;
font-family:'Times New Roman', Times, serif;

}